
.m-card-table {
  display: none;
  width: calc(300% + #{$spacing-gutter*2});
  margin-bottom: $spacing-gutter;
  background-color: $white;
  box-shadow: $m-small-shadow-grey;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;

  &.opened {
    display: block;
  }

  &__bridge {
    width: calc(33.334% - #{20px});
    height: calc(#{$spacing-gutter} + 2px);
    background-color: $m-white;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    box-shadow: $m-small-shadow-grey;
    z-index: -1;
  }

  &__head {
    padding: 2.5rem 1.875rem 3.75rem;
    background-color: $m-white;
    z-index: 2;

    .primary-headline {
      padding-top: 1rem;
    }

    .contact-block {
      padding: 2.5rem 1.875rem;
      border: 2px solid $m-black;
      position: relative;

      .heading-4 {
        display: inline-block;
        width: auto;
        max-width: 100%;
        padding: 0 1.25rem;
        background-color: $m-white;
        font-weight: 500;
        text-transform: uppercase;
        white-space: nowrap;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .contact-link {
        justify-content: center;
      }
    }
  }

  &__body {
    background-color: $m-white;
    z-index: 2;
  }

  .m-accordion {
    .outer {
      display: none;
      width: 100%;
      border-top: 1px solid $m-grey;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        display: table;
      }

      .title-cell {
        button {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding: 0.875rem $spacing-gutter;
          border: none;
          background-color: transparent;
          transition: $custom-transition-3;

          * {
            transition: inherit;
          }

          .text {
            display: inline-block;
            vertical-align: middle;
            border-bottom: 1px dashed transparent;
          }

          .icon {
            display: inline-block;
            width: 15px;
            height: 15px;
            position: relative;

            &:before,
            &:after {
              display: inline-block;
              width: 15px;
              height: 3px;
              content: "";
              background-color: $m-black;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              transform-origin: center center;
              transition: inherit;
            }

            &:after {
              transform: translate(-50%, -50%) rotate(90deg);
            }
          }

          &[aria-expanded="true"] {
            .icon {
              &:after {
                transform: translate(-50%, -50%) rotate(180deg);
              }
            }
          }

          &:hover {
            .text {
              border-bottom-color: $m-red;
              color: $m-red;
            }

            .icon {
              &:before,
              &:after {
                background-color: $m-red;
              }
            }
          }

          &:focus {
            outline: none;
          }
        }
      }

      .one-column,
      .two-column {
        font-size: 0;
        padding-bottom: 0.5rem;

        .column {
          display: inline-block;
          vertical-align: middle;
          width: 100%;
          padding-right: $spacing-gutter;
          padding-left: $spacing-gutter;
          font-size: 1rem;

          table {
            width: 100%;
          }

          .item-name {
            width: 70%;
            padding-top: $spacing-unit;
            padding-bottom: $spacing-unit;
            padding-left: $spacing-gutter;
            line-height: 1.25;

            a {
              &:hover {
                text-decoration: none;
                color: $m-red;
              }
            }

          }

          .item-price {
            width: 11%;
            text-align: right;
          }

          .item-append {
            display: inline-block;
            vertical-align: middle;
            padding-right: 8px;
            line-height: 1.25;
          }

          .item-num {
            display: inline-block;
            vertical-align: middle;
            padding-right: 8px;
            font-size: 1.125rem;
            font-weight: 700;
            line-height: 1.1;
          }

          .item-curr {
            width: 8%;
            font-size: 0.875rem;
            line-height: 1.43;
            text-align: left;

            span {
              display: inline-block;
              vertical-align: middle;
            }

            span + span {
              padding-left: 8px;
              position: relative;
              overflow: hidden;

              &::before {
                display: inline-block;
                content: "/";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
              }
            }
          }

          .item-curr-1,
          .item-curr-2 {
            display: inline-block;
            vertical-align: middle;
          }

          .item-curr-1 + .item-curr-2 {
            padding-left: 8px;
            position: relative;
            overflow: hidden;

            &::before {
              display: inline-block;
              content: "/";
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
            }
          }

          .item-btn {
            width: 11%;
            text-align: center;
          }

          .m-btn {
            min-width: rem-calc(95);
            font-weight: 700;
            letter-spacing: 2px;
          }
        }
      }

      .two-column {
        .column {
          max-width: 50%;
        }
      }
    }
  }

  .single-pricelist {
    .outer {
      width: 100%;
      .one-column {
        font-size: 0;

        .column {
          display: none;
          vertical-align: middle;
          width: 100%;
          padding-right: $spacing-gutter;
          border-top: 1px solid $m-grey;
          font-size: 1rem;

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            display: inline-block;
          }

          table {
            width: 100%;
          }

          .item-name {
            width: 70%;
            padding-top: 0.875rem;
            padding-bottom: 0.875rem;
            padding-left: $spacing-gutter;
            font-size: 1.25rem;
            line-height: 1.25;

            a {
              display: inline-block;
              border-bottom: 1px dashed transparent;
              transition: $custom-transition-3;
              &:hover {
                text-decoration: none;
                color: $m-red;
                border-bottom-color: $m-red;
              }
            }
          }

          .item-price {
            width: 11%;
            text-align: right;
          }

          .item-append {
            display: inline-block;
            vertical-align: middle;
            padding-right: 8px;
            line-height: 1.25;
          }

          .item-num {
            display: inline-block;
            vertical-align: middle;
            padding-right: 8px;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.25;
          }

          .item-curr {
            width: 8%;
            font-size: 1rem;
            line-height: 1.25;
            text-align: left;

            span {
              display: inline-block;
              vertical-align: middle;
            }

            span + span {
              padding-left: 8px;
              position: relative;
              overflow: hidden;

              &::before {
                display: inline-block;
                content: "/";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
              }
            }
          }

          .item-curr-1,
          .item-curr-2 {
            display: inline-block;
            vertical-align: middle;
          }

          .item-curr-1 + .item-curr-2 {
            padding-left: 8px;
            position: relative;
            overflow: hidden;

            &::before {
              display: inline-block;
              content: "/";
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
            }
          }

          .item-btn {
            width: 11%;
            text-align: center;
          }

          .m-btn {
            min-width: rem-calc(95);
            font-weight: 700;
            letter-spacing: 2px;
          }
        }
      }
    }
  }

  &__footer {
    border-top: 1px solid $m-grey;
    background-color: $m-white;
    z-index: 2;

    &-btn,
    &-btn-v2 {
      width: 100%;
      min-height: 3.75rem;
      border: none;
      background-color: transparent;
      padding: 0.875rem 1rem;
      font-size: 0.9375rem;
      font-weight: 500;
      line-height: 1;
      color: $m-grey-dark;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      transition: $custom-transition-3;

      &:before {
        display: none;
        vertical-align: middle;
        content: "";
        width: 1.25rem;
        height: 1.25rem;
        margin-right: 0.375rem;
        background: transparent url("../img/icons/reload.svg") no-repeat center center;
        background-size: contain;
      }

      &:after {
        display: inline-block;
        vertical-align: middle;
        content: "Більше послуг";
      }

      &:hover {
        color: $m-red;
      }
    }
  }

  @include media-breakpoint-down(md) {
    width: calc(200% + #{$spacing-gutter});

    &__bridge {
      width: calc(50% - #{$spacing-unit});
    }

    &__head {
      .contact-block {
        padding-top: rem-calc(52);
        padding-bottom: 1.25rem;
        .heading-4 {
          white-space: normal;
        }

        .m-btn {
          margin-top: 1.25rem;
        }
      }
    }

    .m-accordion {
      .outer {
        .one-column,
        .two-column {
          .column {
            max-width: 100%;
            padding-right: $spacing-gutter;

            .item-name {
              width: 50%;
            }

            .item-price {
              width: 20%;
            }

            .item-curr {
              width: 10%;
            }

            .item-btn {
              width: 20%;
            }
          }
        }
      }
    }

    .single-pricelist {
      .outer {
        .one-column {
          .column {
            padding-right: $spacing-gutter;

            .item-name {
              width: 50%;
            }

            .item-price {
              width: 20%;
            }

            .item-curr {
              width: 10%;
            }

            .item-btn {
              width: 20%;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    top: -$spacing-unit;

    &__bridge {
      display: none;
      width: 100%;
    }

    .m-accordion {
      .outer {
        .title-cell {
          button {
            padding: 1.375rem 0.9375rem 0.5625rem;
          }
        }

        .one-column,
        .two-column {
          .column {
            padding: 0.625rem $spacing-unit;

            &:not(:last-child) {
              border-bottom: 1px solid $m-grey-lighter;
            }

            .item-name {
              width: 50%;
              padding-top: 0.5625rem;
              padding-bottom: 0.5625rem;
              padding-left: $spacing-unit;
            }

            .item-price {
              float: right;
              width: 100%;
            }

            .item-append {
              font-size: 0.875rem;
              line-height: 1.43;
            }

            .item-num {
              padding-right: 0;
              font-size: 1.375rem;
              line-height: 1.36;
            }

            .item-curr {
              float: right;
              width: 100%;
              text-align: right;
              font-size: 0.875rem;
              line-height: 1.43;

              span {
                width: 100%;
              }

              span + span {
                padding-left: 0;

                &::before {
                  content: "";
                  width: 8px;
                  height: 2px;
                  border-top: 2px solid $m-black;
                  top: 0;
                  right: 0;
                  left: auto;
                  transform: translateY(0);
                }
              }
            }

            .item-curr-1,
            .item-curr-2 {
              width: 100%;
            }

            .item-curr-1 + .item-curr-2 {
              padding-left: 0;

              &::before {
                content: "";
                width: 8px;
                height: 2px;
                border-top: 2px solid $m-black;
                top: 0;
                right: 0;
                left: auto;
                transform: translateY(0);
              }
            }

            .item-btn {
              float: right;
              width: 100%;
              text-align: right;
            }

            .m-btn {
              min-width: rem-calc(95);
              font-weight: 700;
              letter-spacing: 2px;
            }

            &:after {
              display: table;
              content: "";
              clear: both;
            }
          }
        }
      }
    }

    .single-pricelist {
      .outer {
        .one-column {
          .column {
            padding: 0.25rem 0.875rem;

            .item-name {
              width: 50%;
              padding-top: 0.5625rem;
              padding-bottom: 0.5625rem;
              padding-left: 0;
              font-size: 1rem;
            }

            .item-price {
              float: right;
              width: 100%;
            }

            .item-append {
              font-size: 0.875rem;
              line-height: 1.43;
            }

            .item-num {
              padding-right: 0;
              font-size: 1.375rem;
              line-height: 1.36;
            }

            .item-curr {
              float: right;
              width: 100%;
              text-align: right;
              font-size: 0.875rem;
              line-height: 1.43;

              span {
                width: 100%;
              }

              span + span {
                padding-left: 0;

                &::before {
                  content: "";
                  width: 8px;
                  height: 2px;
                  border-top: 2px solid $m-black;
                  top: 0;
                  right: 0;
                  left: auto;
                  transform: translateY(0);
                }
              }
            }

            .item-curr-1,
            .item-curr-2 {
              width: 100%;
            }

            .item-curr-1 + .item-curr-2 {
              padding-left: 0;

              &::before {
                content: "";
                width: 8px;
                height: 2px;
                border-top: 2px solid $m-black;
                top: 0;
                right: 0;
                left: auto;
                transform: translateY(0);
              }
            }

            .item-btn {
              float: right;
              width: 100%;
              text-align: right;
            }

            .m-btn {
              min-width: rem-calc(95);
              font-weight: 700;
              letter-spacing: 2px;
            }

            &:after {
              display: table;
              content: "";
              clear: both;
            }
          }
        }
      }
    }

    &__footer {
      &-btn,
      &-btn-v2 {
        font-size: 1rem;
        line-height: 2;
        letter-spacing: 0.05em;

        &:before {
          display: inline-block;
        }

        &:after {
          content: "Завантажити ще";
        }
      }
    }
  }
}

.m-card-vertical-v2.opened {
  & ~ .m-card-table {
    display: block;
  }
}

.count-2 {
  .m-card-table {
    transform: translateX(calc(-33.33% - 10px));

    &__bridge {
      left: 50%;
      transform: translate(-50%, -100%);
    }
  }

  @include media-breakpoint-down(sm) {
    .m-card-table {
      transform: translateX(0);

      &__bridge {
        right: auto;
        left: 0;
      }
    }
  }
}

.count-3 {
  .m-card-table {
    transform: translateX(calc(-66.67% - 20px));

    &__bridge {
      right: 0;
      left: auto;
    }
  }

  @include media-breakpoint-down(sm) {
    .m-card-table {
      transform: translateX(0);

      &__bridge {
        right: auto;
        left: 0;
      }
    }
  }
}

@include media-breakpoint-between(md, md) {
  .count-md-1 {
    .m-card-table {
      transform: translateX(0);

      &__bridge {
        right: auto;
        left: 0;
        transform: translate(0, -100%);
      }
    }
  }

  .count-md-2 {
    .m-card-table {
      transform: translateX(calc(-50% - 15px));

      &__bridge {
        right: 0;
        left: auto;
        transform: translate(0, -100%);
      }
    }
  }
}

.pricelist-section {
  padding-top: 0.625rem;
  .m-card-table {
    display: block;
    width: 100%;
    margin-bottom: 0;
    background-color: $white;
    box-shadow: none;
    position: static;
    z-index: 1;

    &__head {
      padding: 0;

      .primary-headline {
        padding-top: 0;
        margin-bottom: $spacing-unit*3;

        @include media-breakpoint-down(sm) {
          margin-bottom: $spacing-gutter;
        }
      }
    }
  }
}
