.feedback-section {
  .primary-headline {
    margin-bottom: 2.5rem;
  }

  @include media-breakpoint-down(sm) {
    .primary-headline {
      margin-bottom: $spacing-gutter;
    }
  }
}

.feedback-card {
  &--head {
    padding-bottom: $spacing-gutter;

    &-inner {
      padding: $spacing-unit $spacing-gutter $spacing-gutter;
      background-color: $m-grey-lighter;
      position: relative;

      &:after {
        display: inline-block;
        content: "";
        border-top: 1.25rem solid $m-grey-lighter;
        border-left: 1.875rem solid transparent;
        position: absolute;
        bottom: -1.25rem;
        left: $spacing-unit;
      }
    }
  }

  &--footer {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    padding: 0 2.25rem 0 2.8125rem;
    font-size: 0.75rem;
    color: $m-grey-dark;
    line-height: 1.25;
  }

  &__rate {
    margin-bottom: 0.625rem;

    ul {
      display: flex;
      flex-flow: row nowrap;
      width: auto;
      font-size: 0;

      li {
        display: inline-block;
        width: 0.625rem;
        height: 0.625rem;
        background: transparent url('../img/icons/star-b.svg') no-repeat center center/contain;
        opacity: 0.4;

        &:not(:last-child) {
          margin-right: 0.3125rem;
        }

        &.active {
          opacity: 1;
        }
      }
    }
  }

  &__quote {
    max-height: 3.75rem;
    font-size: 0.75rem;
    font-style: italic;
    line-height: 1.25;
    overflow: hidden;

    p {
      margin-bottom: 0;
      font-size: inherit;
      line-height: inherit;
      text-align: left;
    }
  }

  &__btn {
    display: none;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    font-size: 0.625rem;
    line-height: 1.5;
    transition: $custom-transition-3;
    opacity: 0.5;
    position: absolute;
    bottom: $spacing-unit;
    left: $spacing-gutter;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }
  }

  &__author,
  &__date {
    display: inline-block;
    width: 100%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 0.3125rem;
  }

  &__author {
    padding-right: 0.625rem;

    &-name {
      color: $m-black;
    }
  }

  &__date {
    padding-left: 0.625rem;
    text-align: right;
  }

  &__cat {
    display: inline-block;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    font-size: 0.625rem;

    &-name {
      font-size: 0.75rem;
    }
  }

  @include media-breakpoint-down(sm) {
    &--head {
      &-inner {
        padding-right: $spacing-unit;
        padding-left: $spacing-unit;
      }
    }

    &--footer {
      padding-right:$spacing-gutter;
      padding-left: $spacing-gutter;
    }

    &__author,
    &__date {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0;
      text-align: left;
    }
  }
}
