.article-content {
  background-color: $m-white;

  .article-title {
    margin-bottom: 2.5rem;
  }

  @include media-breakpoint-down(sm) {
    .article-title {
      margin-bottom: $spacing-gutter;
      line-height: 1.36;
    }
  }
}