.m-post-section {
  padding-top: rem-calc(150);
  background-color: $m-white;

  .primary-headline {
    margin-bottom: rem-calc(80);
  }

  .m-post-tabs {
    border-bottom: none;
    &__item {
      display: block;
      width: 100%;
      font-size: 1rem;
      font-weight: 700;
      color: $m-black;
      text-transform: uppercase;
      line-height: 1.5rem;

      &:not(:last-child) {
        margin-bottom: 2.625em;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 4rem;
      padding: 0.3125rem 0 0.3125rem 1.625rem;
      border: none;
      border-left: 3px solid $m-grey-dark;
      border-radius: 0;
      color: inherit;
      transition: $custom-transition-3;

      &.active {
        border: none;
        border-left: 3px solid $m-red;
        background-color: transparent;
        color: inherit;
      }

      &:hover {
        text-decoration: none;
        color: $m-red;
        border-color: $m-red;
      }
    }
  }

  .m-post-accordion {
    &__item {
      padding-left: 1.75rem;
      border-left: 2px solid $m-grey-dark;

      &.opened {
        border-left-color: $m-red;
      }
      &:not(:last-child) {
        margin-bottom: 3.25rem;
      }

      &-title {
        display: block;
        width: 100%;
        font-size: 1.25rem;
        font-weight: 700;
        color: $m-black;
        text-align: left;
        text-transform: uppercase;
        line-height: 1.25;
      }

      &-link {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 4.375rem;
        padding: 0.3125rem 0;
        background-color: transparent;
        border: none;
        border-radius: 0;
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
        text-align: inherit;
        text-transform: inherit;
        line-height: inherit;
        transition: $custom-transition-3;

        &:focus {
          outline: none;
        }
      }

      &-panel {
        padding-top: $spacing-gutter;
      }
    }

    @include media-breakpoint-down(sm) {
      &__item {
        padding-left: $spacing-unit;

        &:not(:last-child) {
          margin-bottom: $spacing-unit;
        }

        &-title {
          font-size: 1rem;
        }

        &-link {
          min-height: 2.5rem;
        }
      }
    }
  }

  .m-post {
    &__img {
      margin-bottom: 3rem;
      padding-top: rem-calc(243);
      background: $m-grey-lighter center center/cover no-repeat;
    }

    &__content {
      font-size: 1.125rem;
      line-height: 1.78;

      P {
        font-size: inherit;
        line-height: inherit;
      }
    }

    &__footer {
      padding-top: 0.3125rem;
    }

    @include media-breakpoint-down(lg) {
      &__img {
        margin-bottom: $spacing-unit*3;
        padding-top: rem-calc(290);
      }

      &__content {
        font-size: 1.125rem;
        line-height: 1.39;
      }

      &__footer {
        padding-top: 0;
      }
    }

    @include media-breakpoint-down(sm) {
      &__img {
        padding-top: rem-calc(260);
      }
    }
  }

  .contact-block {
    &--outer {
      padding: 1.875rem;
      background-color: $m-grey-lighter;
      box-shadow: $m-small-shadow-grey;
    }

    &--inner {
      padding: 2rem $spacing-gutter 1.75rem;
      border: 1.5px solid $m-black;
      position: relative;

      .heading {
        display: inline-block;
        padding: 0 $spacing-gutter;
        background-color: $m-grey-lighter;
        font-size: 0.9375rem;
        font-weight: 700;
        letter-spacing: 0.1em;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;
        line-height: 1.53;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      form {
        position: relative;

        &.has-error {
          .error {
            display: block;
            font-size: 0.75rem;
            color: $m-red;
            line-height: 1.67;
            position: absolute;
            top: 3.125rem;
            left: 0;
          }
        }
      }
      .form-inline {
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        max-width: 100%;

        .form-control {
          width: 100%;
          max-width: 50%;
          margin-right: $spacing-gutter;
          height: auto;
          min-height: 3.125rem;
          padding: 0.9375rem 0.875rem;
          border: 1px solid $m-grey;
          border-radius: 0;
          background-color: $m-white;
          font-size: 1rem;
          line-height: 1.125;
          color: $m-black;

          transition: $custom-transition-3;

          &:hover,
          &:focus {
            box-shadow: $m-shadow-grey;
          }
        }

        button {
          &:hover {
            box-shadow: $m-shadow-grey;
          }
        }
      }
    }

    @include media-breakpoint-down(lg) {
      &--outer {
        padding: $spacing-gutter $spacing-unit;
      }

      &--inner {
        padding: 2.5rem;
        border: 2px solid $m-black;

        .heading {
          padding: 0 $spacing-gutter*2;
          font-size: 1.25rem;
          line-height: 1.25;
        }

        button {
          width: 100%;
          padding-right: 0.5rem;
          padding-left: 0.5rem;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      &--outer {
        margin-left: -0.625rem;
        padding: $spacing-gutter $spacing-unit 1.25rem;
      }

      &--inner {
        padding: 3.75rem 1.25rem 1.25rem;

        .heading {
          padding: 0 $spacing-unit;
          font-size: 1.25rem;
          line-height: 1.25;
          white-space: normal;
          transform: translate(-50%, -40%);
        }

        .form-inline {
          flex-flow: column nowrap;

          .form-control {
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 1.25rem;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding-top: $spacing-gutter*3;

    .primary-headline {
      margin-bottom: $spacing-gutter*2;
    }
  }

  @include media-breakpoint-down(sm) {
    padding-top: $spacing-gutter*2;

    .primary-headline {
      margin-bottom: $spacing-gutter;
    }
  }
}
