.block-order-steps {
  padding: 3.75rem 0;
  background-color: $m-white;

  .primary-headline {
    margin-bottom: 2.8125rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__row {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 -0.3125rem;
  }

  &__step {
    margin-bottom: $spacing-unit;
    padding: 0 0.3125rem;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    min-height: rem-calc(240);
    position: relative;
    transition: $custom-transition-3;

    &:not(:last-child) {
      &:after {
        display: inline-block;
        width: 3.125rem;
        height: 3.125rem;
        content: "";
        background: transparent url('../img/icons/Arrow-right-r.svg') no-repeat center center;
        background-size: contain;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
        z-index: 2;
      }
    }

    &.opened {
      .step--inner {
        .step--inner__text {
          display: block;
        }
      }
    }
  }

  .step--inner {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    padding: 0;
    box-shadow: $m-shadow-cold;
    position: relative;

    &__img {
      height: rem-calc(114);
      min-width: rem-calc(96);
      text-align: center;
      align-self: flex-end;

      img {
        width: auto;
        height: 100%;
      }
    }

    &__text {
      padding: 3.25rem 1.25rem 1.25rem 0.5rem;
      overflow: hidden;
      transition: $custom-transition-3;
    }

    &__title {
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 1.5;
    }
    &__desc {
      font-size: 0.875rem;
      line-height: 1.4;

      p {
        margin-bottom: 0;
        font-size: inherit;
        line-height: inherit;
        text-align: left;
      }
    }
  }

  &__footer {
    padding: $spacing-gutter 0;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1.17;

    P {
      margin-bottom: 0;
      font-size: inherit;
      line-height: inherit;
      text-align: inherit;
    }

    a {
      transition: $custom-transition-3;

      &:hover,
      &:visited {
        color: $m-red;
        text-decoration: underline dashed $m-red;
        text-underline-position: under;
        -ms-text-underline-position: below;

      }
    }
  }

  @include media-breakpoint-down(md) {
    &__step {
      flex: 1 1 auto;
      max-width: initial;
      min-height: rem-calc(220);

      &:not(:last-child) {
        &:after {
          display: none;
        }
      }

      .step--inner {
        &__text {
          display: none;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .primary-headline {
      margin-bottom: $spacing-gutter;
      font-size: 1.375rem;
    }

    &__row {
      flex-flow: column nowrap;
    }

    &__step {
      flex: 0 0 100%;
      max-width: 100%;
      min-height: rem-calc(80);

      .step--inner {
        &__text {
          display: block;
        }

        &__desc {
          display: none;
        }
      }

      &.opened {
        .step--inner {
          &__title {
            margin-bottom: 2.5rem;
          }

          &__desc {
            display: block;
          }
        }
      }
    }

    .step--inner {
      display: block;
      padding: 1.25rem $spacing-unit $spacing-unit;

      &__img {
        height: rem-calc(64);
        min-width: initial;
        width: rem-calc(52);
        text-align: left;
        position: absolute;
        top: 1rem;
        left: 0;
      }

      &__text {
        display: block;
        min-height: rem-calc(45); /*80-20-15*/
        padding: 0;
      }

      &__title {
        padding-left: rem-calc(37); /*52-15*/
      }
    }

    &__footer {
      padding: $spacing-unit 0;
      font-size: 0.875rem;
      line-height: 1.43;
    }
  }
}
