/**
buttons have got the next classes:
    m-btn (common styles),
    m-btn-ptimary (red buttons),
    m-btn-secondary (transparent bordered buttons),
    m-btn-small (additional for m-btn-primary and m-btn-secondary smaller sizes)
    m-btn-white (additional for m-btn-secondary white font and border)
**/

.m-btn {
  display: inline-block;
  width: auto;
  min-width: 10rem;
  max-width: 100%;
  min-height: 3.125rem;
  padding: 0.875rem 1rem;
  border: 2px solid transparent;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: $custom-transition-3;
  position: relative;

  &.m-btn-small {
    min-width: 8.75rem;
    min-height: 2.5rem;
    padding: 0.6875rem 0.625rem;
    border-width: 1px;
    font-size: 0.875rem;
    line-height: 1.14;
  }

  &-primary {
    background-color: $m-red;
    border-color: $m-red;
    font-size: 1.125rem;
    line-height: 1;
    color: $m-white !important;

    &:hover {
      background-color: $m-red-2;
      border-color: $m-red-2;
      color: $m-white !important;
    }
  }

  &-secondary {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
    background-color: transparent;
    border-color: $m-black;
    font-size: 0.9375rem;
    line-height: 1.2;
    color: $m-black !important;

    &:after {
      display: inline-block;
      width: 2.375rem;
      height: 0.875rem;
      content: "";
      background: transparent url("../img/icons/Arrow-right.svg") no-repeat center center;
      background-size: contain;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(70%, -50%);
      transition: $custom-transition-3;
    }

    &.m-btn-white {
      border-color: $m-white;
      color: $m-white !important;

      &:after {
        background-image: url("../img/icons/Arrow-right-w.svg");
      }

      &:hover {
        color: $m-black !important;
        border-color: $m-black;

        &:after {
          background-image: url("../img/icons/Arrow-right.svg");
        }
      }
    }

    &.m-btn-small {
      min-width: 6.875rem;
      min-height: 1.875rem;
      padding: 0.4375rem 0.375rem;
      font-size: 0.6875rem;
      line-height: 1.27;

      &:after {
        display: none;
      }
    }

    &:hover {
      border-color: $m-red;
      color: $m-red !important;

      &:after {
        background-image: url("../img/icons/Arrow-right-r.svg");
      }
    }
  }

  .icon {
    display: inline-block;
    vertical-align: bottom;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.375rem;
    font-size: 0;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    box-shadow: none;
  }
}

.modal {
  button.close {
    float: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 3;
    .icon {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      background: transparent url("../img/icons/Closed.svg") no-repeat center center;
      background-size: contain;
      vertical-align: middle;
      transition: $custom-transition-3;
    }
  }
}
