/**
cards have got the next classes:
    m-card (common styles, horizontal alignment),
    m-card-vertical (vertical alignmenmt on desktop, horizontal alignment),
    m-card-vertical (vertical alignmenmt on desktop and "see more" button, horizontal alignment on mobile),
    m-card-large (vertically aligned for big blocks),
    m-card-small (horizontally aligned small card)
    m-btn-white (additional for m-btn-secondary white font and border)
**/


.m-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 11.875rem;
  margin-bottom: $spacing-gutter;
  padding: 1.5rem 1.75rem;
  background-color: $m-grey-lighter;
  border: 1px solid $m-grey-light;
  transition: $custom-transition-3;
  position: relative;

  &__body {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: auto;

    &-img {
      display: inline-block;
      vertical-align: middle;
      flex: 0 0 34%;
      max-width: 34%;
      padding-right: $spacing-unit/2;

      img {
        width: 100%;
        height: auto;
      }
    }

    &-title {
      display: inline-block;
      vertical-align: middle;
      flex: 0 0 66%;
      max-width: 66%;
      padding-left: $spacing-unit/2;
      font-size: 1rem;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1.375;

      a {
        color: $m-black;

        &:hover {
          text-decoration: none;
          color: $m-black;
        }
      }
    }
  }

  &__footer {
    margin-top: $spacing-unit;
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    color: $m-grey-dark;
    line-height: 1.25;
  }

  &-vertical {
    min-height: rem-calc(370);

    .m-card__body {
      margin-top: 0;
      flex-wrap: wrap;
      align-items: flex-start;

      &-img {
        flex: 0 0 78%;
        max-width: 78%;
        margin-bottom: $spacing-gutter;
        padding: 0;
        vertical-align: top;
      }

      &-title {
        flex: 0 0 78%;
        max-width: 78%;
        margin-bottom: $spacing-unit;
        padding: 0;
        font-size: 1.5rem;
        line-height: 1.25;
        vertical-align: top;
        letter-spacing: 2px;
      }
    }

    .m-card__footer {
      margin-top: auto;
      font-size: 0.875rem;
      line-height: 1.43;
    }

    .m-btn-c-more {
      display: none;
      position: absolute;
      right: 1.25rem;
      bottom: 1.875rem;
    }
  }

  &-vertical-v2 {
    min-height: rem-calc(370);

    .m-card__body {
      margin-top: auto;
      flex-wrap: wrap;
      align-items: flex-end;

      &-img {
        flex: 0 0 45%;
        max-width: 45%;
        margin-bottom: $spacing-gutter;
        padding: 0;
        vertical-align: top;
      }

      &-title {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: $spacing-unit;
        padding: 0;
        font-size: 1.5rem;
        line-height: 1.25;
        vertical-align: top;
        letter-spacing: 2px;
      }
    }

    .m-card__footer {
      margin-top: $spacing-unit;
      font-size: 0.875rem;
      line-height: 1.43;
    }

    .m-btn-c-more {
      position: absolute;
      right: 1.25rem;
      bottom: 1.875rem;
      transform-origin: center center;
    }

    &.opened {
      border-color: transparent;
      background-color: $m-white;
      box-shadow: $m-small-shadow-grey;
      z-index: 3;

      .m-btn-c-more {
        transform: rotate(180deg);
      }

      &:after {
        display: inline-block;
        width: 100%;
        height: 0.625rem;
        content: "";
        background-color: $m-white;
        position: absolute;
        right: 0;
        bottom: -0.5625rem;
        left: 0;
        z-index: 2;
      }

      @include media-breakpoint-down(sm) {
        &:after {
          bottom: 0;
        }
      }
    }
  }

  &-large {
    min-height: 23.125rem;

    .m-card__body {
      margin-top: 0;
      flex-wrap: wrap;
      align-items: flex-start;

      &-img {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 1.25rem;
        padding: 0;
        vertical-align: top;
      }

      &-title {
        flex: 0 0 58.33%;
        max-width: 58.33%;
        margin-bottom: $spacing-unit;
        padding: 0;
        font-size: 1.5rem;
        line-height: 1.25;
        vertical-align: top;
      }
    }

    .m-card__footer {
      font-size: 0.875rem;
    }
  }

  &-small {
    min-height: 6.875rem;

    .m-card__body {
      margin-top: 0;

      &-img {
        flex: 0 0 25%;
        max-width: 25%;
        padding-right: 0.25rem;
      }

      &-title {
        flex: 0 0 75%;
        max-width: 75%;
        padding-left: 0.25rem;
        font-size: 0.75rem;
        letter-spacing: 1px;
        line-height: 1.5;
      }
    }
  }

  &:hover {
    box-shadow: $m-shadow-grey;
  }

  &:focus {
    outline: none;
  }

  &.m-card-vertical-v2 {
    &:hover {
      border-color: transparent;
      background-color: $m-white;
      box-shadow: $m-small-shadow-grey;
    }
  }

  @include media-breakpoint-down(md) {
    min-height: 11.25rem;
    padding: 1.5625rem $spacing-unit;

    &-vertical {
      min-height: rem-calc(370);
      padding: 1.5rem 1.75rem;

      .m-card__body {
        &-title {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }

    &-vertical-v2 {
      min-height: rem-calc(370);
      padding: 1.5rem 1.75rem;
    }

    &-large {
      .m-card__body {
        &-img,
        &-title {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }

    &-small {
      min-height: 6.875rem;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: $spacing-unit;

    &__body {
      &-img {
        flex: 0 0 41.67%;
        max-width: 41.67%;
      }

      &-title {
        flex: 0 0 58.33%;
        max-width: 58.33%;
      }
    }

    &-vertical {
      min-height: rem-calc(180);
      padding: $spacing-unit;

      .m-card__body {
        margin-top: auto;
        flex-wrap: wrap;
        align-items: center;

        &-img {
          flex: 0 0 34%;
          max-width: 34%;
          margin-bottom: 1.25rem;
          padding-right: $spacing-unit/2;
          vertical-align: middle;
        }

        &-title {
          flex: 0 0 66%;
          max-width: 66%;
          margin-bottom: 1.25rem;
          padding-left: $spacing-unit/2;
          font-size: 1rem;
          line-height: 1.56;
          vertical-align: middle;
          letter-spacing: 2px;
        }
      }
      .m-btn-c-more {
        display: inline-block;
        right: $spacing-unit;
        bottom: 1.625rem;
      }
    }

    &-vertical-v2 {
      min-height: rem-calc(180);
      padding: $spacing-unit;

      .m-card__body {
        margin-top: auto;
        flex-wrap: wrap;
        align-items: center;

        &-img {
          flex: 0 0 34%;
          max-width: 34%;
          margin-bottom: 0.875rem;
          padding-right: 1rem;
          vertical-align: middle;
        }

        &-title {
          flex: 0 0 66%;
          max-width: 66%;
          margin-bottom: 0.875rem;
          padding-left: 1rem;
          font-size: 1rem;
          line-height: 1.56;
          vertical-align: middle;
          letter-spacing: 2px;
        }
      }

      .m-card__footer {
        margin-top: 0;
        margin-bottom: 0.625rem;
      }

      .m-btn-c-more {
        right: $spacing-unit;
        bottom: 1.625rem;
      }
    }
  }
}
