.main-nav {
  padding: $header-padding 0;
  background-color: transparent;
  transition: $custom-transition-5;

  .navbar {
    padding: 0;
    min-height: 2.5rem;
    flex-flow: row nowrap;
    justify-content: flex-start;

    &-logo {
      display: inline-block;
      margin-right: 2rem;
      vertical-align: middle;

      img {
        max-width: 10rem;
      }

      &__img-full {
        display: block;
      }

      &__img-short {
        display: none;
      }
    }

    &-location {
      display: inline-flex;
      align-items: center;
      width: auto;
      //min-width: 20%;
      vertical-align: middle;
      margin-right: 1.25rem;

      &__btn {
        width: auto;
        max-width: 100%;
        padding: 0;
        background-color: transparent;
        border: none;
        font-size: 0.875rem;

        .icon {
          display: inline-block;
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 0.25rem;
          background: transparent url("../img/icons/Location-r.svg") no-repeat center center;
          background-size: contain;
          vertical-align: middle;
          transition: $custom-transition-3;
          filter: grayscale(100%);
          opacity: 0.6;
        }

        .text {
          display: inline-block;
          border-bottom: 1px dashed $m-black;
          vertical-align: middle;
          line-height: 1;
        }

        &:after {
          display: inline-block;
          width: 1.5rem;
          height: 1.5rem;
          margin-left: 1rem;
          content: "";
          border: none;
          background: transparent url("../img/icons/arrow_down-r.svg") no-repeat center center;
          background-size: contain;
          vertical-align: middle;
          transition: $custom-transition-3;
          transform-origin: center center;
          filter: grayscale(100%);
          opacity: 0.6;
        }

        &:focus {
          outline: none;
        }

        &:hover {
          .icon {
            filter: unset;
            opacity: 1;
            animation: dropdrop 0.8s linear infinite;
            -webkit-animation: dropdrop 0.8s linear infinite;
          }

          &:after {
            filter: unset;
            opacity: 1;
          }
        }
      }
    }

    &-contact {
      display: inline-flex;
      align-items: center;
      width: auto;
      vertical-align: middle;
      margin-right: auto;
      margin-left: auto;

      .dropdown {
        .dropdown-toggle {
          width: auto;
          max-width: 100%;
          padding: 0 1rem;
          background-color: transparent;
          border: none;
          text-align: left;

          &:focus {
            outline: none;
          }

          .icon {
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.25rem;
            background: transparent url("../img/icons/Phone-r.svg") no-repeat center center;
            background-size: contain;
            vertical-align: middle;
            filter: grayscale(100%);
            opacity: 0.6;
          }

          .text {
            display: inline-block;
            vertical-align: middle;

            * {
              transition: $custom-transition-3;
            }

            &-link {
              display: block;
              font-family: "Rubik-b", sans-serif;
              font-size: 1.125rem;
              font-weight: 700;
              color: $m-black;
              line-height: 1.1;
              letter-spacing: 0.1em;
              text-transform: uppercase;

              &:hover {
                text-decoration: none;
              }
            }

            &-schedule {
              display: block;
              font-size: 0.625rem;
              color: $m-red;
              line-height: 1.2;
              letter-spacing: 0.1em;
              text-transform: uppercase;
            }
          }

          &:after {
            width: 1.25rem;
            height: 1.25rem;
            margin-left: 0;
            border: none;
            background: transparent url("../img/icons/arrow_down-r.svg") no-repeat center center;
            background-size: cover;
            vertical-align: middle;
            transition: $custom-transition-3;
            transform-origin: center center;
            filter: grayscale(100%);
            opacity: 0.6;
          }

          &[aria-expanded="true"] {
            &:after {
              transform: rotate(180deg);
            }
          }

          &:hover {
            .icon {
              filter: unset;
              opacity: 1;
              animation: ringring 0.3s linear infinite;
              -webkit-animation: ringring 0.3s linear infinite;
            }

            .text {
              &-link {
                color: $m-red;
              }

              &-schedule {
                color: $m-black;
              }
            }

            &:after {
              filter: unset;
              opacity: 1;
            }
          }
        }

        .dropdown-menu {
          width: 100%;
          background-color: $m-white;
          border: none;
          border-radius: 0;
          padding: 1rem;

          .navbar-contact__btn {
            display: flex;
            align-items: center;
            width: auto;
            max-width: 100%;
            padding: 0;
            background-color: transparent;
            border: none;
            text-align: left;

            &:focus {
              outline: none;
            }

            .icon {
              display: inline-block;
              width: 1.5rem;
              height: 1.5rem;
              margin-right: 0.625rem;
              background: transparent url("../img/icons/Phone-Arrow-r.svg") no-repeat center center;
              background-size: contain;
              vertical-align: middle;
            }

            .text {
              display: inline-block;
              vertical-align: middle;

              * {
                transition: $custom-transition-3;
              }

              &-title,
              &-subtitle {
                display: block;
                line-height: 1.125rem;
                letter-spacing: 0.1em;
                text-transform: uppercase;
              }

              &-title {
                font-size: 0.8125rem;
                font-weight: 500;
                color: $m-black;
                border-bottom: 1px dashed $m-black;
              }

              &-subtitle {
                font-size: 0.625rem;
                color: $m-red;
              }
            }

            &:hover {
              .icon {
                animation: ringring 0.3s linear infinite;
                -webkit-animation: ringring 0.3s linear infinite;
              }
              .text {
                &-title {
                  color: $m-red;
                }

                &-subtitle {
                  color: $m-black;
                }
              }
            }
          }
        }
      }
    }

    &-search {
      display: none;
      margin-right: 1.25rem;

      &__btn {
        display: inline-block;
        vertical-align: middle;
        width: auto;
        max-width: 100%;
        padding: 0;
        background-color: transparent;
        border: none;
        font-size: 0;
        transition: $custom-transition-3;

        .text {
          display: inline-block;
          vertical-align: middle;
          font-size: 0.875rem;
          color: $m-black;
          line-height: 1.21;
          transition: inherit;
        }

        .icon {
          display: inline-block;
          vertical-align: middle;
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 0.625rem;
          background: transparent url("../img/icons/search-r.svg") no-repeat center center;
          background-size: contain;
          transition: inherit;
          transform-origin: center center;
          filter: grayscale(100%);
          opacity: 0.6;
        }

        &:hover {
          .icon {
            filter: unset;
            opacity: 1;
          }

          .text {
            color: $m-red;
          }
        }

        &:focus {
          outline: none;
        }
      }
    }

    &-services {
      margin: 0 1rem 0 0;

      &__btn {
        display: inline-flex;
        align-items: center;
        width: auto;
        padding: 0;
        background-color: transparent;
        border: none;
        border-radius: 0;
        vertical-align: middle;

        &:focus {
          outline: none;
        }

        * {
          transition: $custom-transition-3;
        }

        .icon {
          display: inline-block;
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 0.625rem;
          background: transparent url("../img/icons/menu-r.svg") no-repeat center center;
          background-size: contain;
          vertical-align: middle;
          transform-origin: center center;
          filter: grayscale(100%);
          opacity: 0.6;
        }

        .text {
          display: inline-block;
          vertical-align: middle;
          font-size: 0.875rem;
          color: $m-black;
          line-height: 1.21;
        }

        &:hover {
          .icon {
            filter: unset;
            opacity: 1;
          }

          .text {
            color: $m-red;
          }
        }
      }
    }

    &-user {
      margin-right: 0.875rem;

      &__link {
        display: inline-flex;
        align-items: center;
        width: auto;
        vertical-align: middle;

        * {
          transition: $custom-transition-3;
        }

        .icon {
          display: inline-block;
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 0.625rem;
          background: transparent url("../img/icons/login-r.svg") no-repeat center center;
          background-size: contain;
          vertical-align: middle;
          transform-origin: center center;
          filter: grayscale(100%);
          opacity: 0.6;
        }

        .text {
          display: inline-block;
          vertical-align: middle;
          font-size: 0.875rem;
          color: $m-black;
          line-height: 1.21;
        }

        &:hover {
          text-decoration: none;
          color: $m-black;

          .icon {
            filter: unset;
            opacity: 1;
          }

          .text {
            color: $m-red;
          }
        }
      }
    }

    &-lang {
      display: inline-flex;
      align-items: center;
      width: auto;
      min-height: 2.5rem;
      vertical-align: middle;
      border-left: 1px solid $m-grey-dark;

      .dropdown {
        min-height: inherit;
        font-size: 0.75rem;

        .dropdown-toggle {
          width: auto;
          max-width: 100%;
          min-height: inherit;
          padding: 0;
          background-color: transparent;
          border: none;
          line-height: 2;

          &:focus {
            outline: none;
          }

          * {
            transition: $custom-transition-3;
          }

          .text {
            display: inline-block;
            vertical-align: middle;
            padding-left: 0.875rem;
            text-transform: uppercase;
          }

          &:after {
            width: 1.5rem;
            height: 1.5rem;
            margin-left: 0;
            border: none;
            background: transparent url("../img/icons/arrow_down-r.svg") no-repeat center center;
            background-size: contain;
            vertical-align: middle;
            transition: $custom-transition-3;
            transform-origin: center center;
            filter: grayscale(100%);
            opacity: 0.6;
          }

          &[aria-expanded="true"] {
            &:after {
              transform: rotate(180deg);
            }
          }

          &:hover {
            .text {
              color: $m-red;
            }

            &:after {
              filter: unset;
              opacity: 1;
            }
          }
        }

        .dropdown-menu {
          background-color: $m-white;
          border: none;
          border-radius: 0;
          padding: 0.875rem 0;
          min-width: initial;
          max-height: 10rem;
          font-size: inherit;
          overflow-y: auto;

          .dropdown-item {
            padding: 0 1rem;
            text-transform: uppercase;

            &.active {
              display: none;
            }

            &:hover {
              color: $m-red;
            }

            &:hover,
            &:focus {
              background-color: transparent;
            }
          }
        }
      }
    }

    &-toggler {
      margin: -$header-padding-mobile 0;
      padding: $header-padding-mobile;
      border-left: 1px solid transparent;
      border-radius: 0;
      font-size: 0;

      * {
        transition: $custom-transition-3;
      }

      .icon {
        display: inline-block;
        width: 1.625rem;
        height: 1.5rem;
        background: transparent no-repeat center center;
        background-size: contain;
        vertical-align: middle;
        position: relative;

        .bars {
          display: inline-block;
          width: 100%;
          height: 3px;
          background-color: $m-grey-dark;
          position: absolute;
          right: 0;

          &:nth-child(1) {
            top: 0;
            right: auto;
            left: 0;
            transform-origin: left bottom;
          }

          &:nth-child(2) {
            width: 84%;
            top: 39%;
            transform-origin: center center;
          }

          &:nth-child(3) {
            bottom: 11%;
            transform-origin: right top;
          }
        }
      }

      &:hover {
        .icon {
          .bars {
            background-color: $m-red;
          }
        }
      }
    }
  }

  &.scrolled {
    padding: $header-padding-scrolled 0;
    background-color: $m-white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);

    .navbar {
      &-logo {
        img {
          max-width: 5rem;
        }

        &__img-full {
          display: none;
        }

        &__img-short {
          display: block;
        }
      }

      &-search {
        display: block;
      }

      &-contact {
        min-height: 2.5rem;

        .dropdown {
          min-height: inherit;

          .dropdown-toggle {
            min-height: inherit;
          }
        }

        .dropdown.show {
          margin-top: -$header-padding-scrolled;
          margin-bottom: -$header-padding-scrolled;
          padding-top: $header-padding-scrolled;
          padding-bottom: $header-padding-scrolled;
          background-color: $m-grey-lighter;

          .dropdown-menu {
            margin-top: 0;
            background-color: $m-grey-lighter;
          }
        }
      }

      &-lang {
        .dropdown.show {
          margin-top: -$header-padding-scrolled;
          margin-bottom: -$header-padding-scrolled;
          padding-top: $header-padding-scrolled;
          padding-bottom: $header-padding-scrolled;
          background-color: $m-grey-lighter;

          .dropdown-menu {
            width: 100%;
            margin-top: 0;
            background-color: $m-grey-lighter;
          }
        }
      }
    }
  }

  .navbar-mob-blocks {
    display: none;
    align-items: center;
    width: 100%;
    background-color: $m-white;
    color: $m-white;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;

    &__contact,
    &__order,
    &__services {
      display: inline-block;
      vertical-align: middle;
      align-self: stretch;
    }

    &__contact,
    &__order {
      flex: 1 1 auto;
    }

    &__contact {
      padding: 0.8125rem 0.625rem;
      background-color: $m-black;
      min-height: $fixed-tabl-navbar-height;
      text-align: center;

      .icon {
        display: inline-block;
        width: 1.875rem;
        height: 1.875rem;
        margin-right: 0.5rem;
        background: transparent url("../img/icons/Phone-w.svg") no-repeat center center;
        background-size: contain;
        vertical-align: middle;
      }

      .text {
        display: inline-block;
        vertical-align: middle;
        text-align: left;

        &-link {
          display: block;
          margin-bottom: 0.25rem;
          font-family: "Rubik-b", sans-serif;
          font-size: 1.375rem;
          font-weight: 700;
          line-height: 1.18;
          letter-spacing: 0.1em;
          text-transform: uppercase;

          &:hover {
            text-decoration: none;
            color: $m-white;
          }
        }

        &-schedule {
          display: block;
          font-size: 0.75rem;
          line-height: 1.17;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
      }
    }

    &__order {
      background-color: $m-red;

      .m-btn {
        width: 100%;
        min-width: initial;
        min-height: $fixed-tabl-navbar-height;
        padding: 1.5rem 0.625rem;
      }
    }

    &__services {
      background-color: $m-white;

      button {
        display: inline-block;
        width: auto;
        padding: 1.125rem;
        background-color: transparent;
        border: none;
        border-radius: 0;
        vertical-align: middle;
        font-size: 0;

        &:focus {
          outline: none;
        }

        * {
          transition: $custom-transition-3;
        }

        .icon {
          display: inline-block;
          width: 2.125rem;
          height: 2.125rem;
          background: transparent url("../img/icons/menu.svg") no-repeat center center;
          background-size: cover;
          vertical-align: middle;
        }

        &:hover {
          .icon {
            background-image: url("../img/icons/menu-r.svg");
          }
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    padding: $header-padding-mobile 0;
    background-color: $m-white;

    & > .container {
      max-width: 100%;
      padding-right: 0;
      padding-left: 2.5rem;

      & > .row {
        margin-right: 0;
        margin-left: 0;

        & > .col-12 {
          padding-right: 0;
          padding-left: 0;
        }
      }
    }

    .navbar {
      min-height: 1.5rem;

      &-logo {
        margin-right: 1rem;

        img {
          max-width: 7.75rem;
        }
      }

      &-location {
        margin-right: 0.625rem;
        margin-left: auto;
      }

      &-search {
        display: block;
        margin-top: -$header-padding-mobile;
        margin-right: 0;
        margin-bottom: -$header-padding-mobile;
        padding: $header-padding-mobile;
        border-left: 1px solid $m-grey;

        &__btn {
          .text {
            display: none;
          }

          .icon {
            background-image: url("../img/icons/search.svg");
          }
        }
      }

      &-contact,
      &-services,
      &-user,
      &-lang {
        display: none;
        padding: 1rem 0;
      }

      &-lang {
        margin-right: 0;
      }

      &-toggler {
        border-left-color: $m-grey;
      }
    }

    &.scrolled {
      padding: $header-padding-mobile 0;
    }

    .navbar-mob-blocks {
       display: flex;
    }
  }

  @include media-breakpoint-down(sm) {
    & > .container {
      padding-left: $spacing-unit;
    }

    .navbar {
      min-height: 1.5rem;

      &-logo {
        margin-right: $header-padding-mobile;
      }

      &-location {
        min-width: initial;
        margin-right: $header-padding-mobile;

        &__btn {
          .icon {
            margin-right: 0;
          }

          .text,
          &:after {
            display: none;
          }
        }
      }
    }

    .navbar-mob-blocks {
      &__contact {
        padding: 0.625rem;
        min-height: $fixed-mob-navbar-height;

        .icon {
          display: none;
        }

        .text {
          &-link {
            margin-bottom: 0;
            font-size: 0.875rem;
            line-height: 1.2;
          }

          &-schedule {
            font-size: 0.625rem;
            line-height: 1.2;
          }
        }
      }

      &__order {
        .m-btn {
          min-height: $fixed-mob-navbar-height;
          padding-top: 0.875rem;
          padding-bottom: 0.875rem;
          font-size: 0.875rem;
          line-height: 1.29;
        }
      }

      &__services {
        button {
          padding: 0.8125rem;

          .icon {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
    }
  }

  @include media-breakpoint-down(xs) {
    .navbar {
      &-logo {
        img {
          max-width: 7rem;
        }
      }
    }
  }
}

@keyframes dropdrop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes dropdrop {
  0% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes ringring {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes ringring {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
