.main-nav {
  padding: 1.5rem 0;
  background-color: transparent;
  transition: $custom-transition-5;

  .navbar {
    padding: 0;
    min-height: 2.5rem;

    &-logo {
      display: inline-block;
      margin-right: 2rem;
      vertical-align: middle;

      img {
        max-width: 10rem;
      }

      &__img-full {
        display: block;
      }

      &__img-short {
        display: none;
      }
    }

    &-location {
      display: inline-flex;
      align-items: center;
      width: auto;
      min-width: 20%;
      vertical-align: middle;
      margin-right: 1.25rem;

      .dropdown {
        .dropdown-toggle {
          width: auto;
          max-width: 100%;
          padding: 0;
          background-color: transparent;
          border: none;
          font-size: 0.875rem;

          .icon {
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.75rem;
            background: transparent url("../img/icons/Location.svg") no-repeat center center;
            background-size: contain;
            vertical-align: middle;
            transition: $custom-transition-3;
          }

          .text {
            display: inline-block;
            border-bottom: 1px dashed $m-black;
            vertical-align: middle;
          }

          &:after {
            width: 1.5rem;
            height: 1.5rem;
            margin-left: 1.25rem;
            border: none;
            background: transparent url("../img/icons/arrow_down.svg") no-repeat center center;
            background-size: contain;
            vertical-align: middle;
            transition: $custom-transition-3;
            transform-origin: center center;
          }

          &[aria-expanded="true"] {
            &:after {
              transform: rotate(180deg);
            }
          }

          &:focus {
            outline: none;

            .icon {
              background-image: url("../img/icons/Location-b.svg");
            }
          }
        }

        .dropdown-menu {
          width: 100%;
          max-height: 10rem;
          padding: 0.875rem 0;
          background-color: $m-white;
          border: none;
          border-radius: 0;
          overflow-y: auto;

          .dropdown-item {
            padding: 0 0.75rem;
            margin-bottom: 1rem;
            font-size: 0.9375rem;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    &-search {
      display: none;
      margin-right: 1.25rem;

      .form-control {
        height: auto;
        max-width: 4.5rem;
        padding: 0.125rem;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $m-grey;
        background-color: transparent;
        font-size: 0.875rem;
        color: $m-black;
        line-height: 1.21;
        transition: $custom-transition-3;
      }

      &__btn {
        display: inline-block;
        width: auto;
        max-width: 100%;
        padding: 0;
        background-color: transparent;
        border: none;
        font-size: 0;
        vertical-align: middle;
        transition: $custom-transition-3;

        .icon {
          display: inline-block;
          width: 1.5rem;
          height: 1.5rem;
          background: transparent url("../img/icons/search-b.svg") no-repeat center center;
          background-size: contain;
        }

        &:hover {
          transform: scale(0.9);

          .icon {
            background-image: url("../img/icons/search-r.svg");
          }
        }
      }
    }

    &-contact {
      display: inline-flex;
      align-items: center;
      width: auto;
      vertical-align: middle;
      margin-right: auto;
      margin-left: auto;

      .dropdown {
        .dropdown-toggle {
          width: auto;
          max-width: 100%;
          padding: 0 1rem;
          background-color: transparent;
          border: none;
          text-align: left;

          &:focus {
            outline: none;
          }

          .icon {
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 0.625rem;
            background: transparent url("../img/icons/Phone.svg") no-repeat center center;
            background-size: contain;
            vertical-align: middle;
          }

          .text {
            display: inline-block;
            vertical-align: middle;

            * {
              transition: $custom-transition-3;
            }

            &-link {
              display: block;
              margin-bottom: 0.25rem;
              font-size: 1.125rem;
              font-weight: 700;
              color: $m-black;
              line-height: 1.1;
              letter-spacing: 0.1em;
              text-transform: uppercase;

              &:hover {
                text-decoration: none;
              }
            }

            &-schedule {
              display: block;
              font-size: 0.625rem;
              color: $m-red;
              line-height: 1.2;
              letter-spacing: 0.1em;
              text-transform: uppercase;
            }
          }

          &:after {
            width: 1.5rem;
            height: 1.5rem;
            margin-left: 0;
            border: none;
            background: transparent url("../img/icons/arrow_down.svg") no-repeat center center;
            background-size: contain;
            vertical-align: middle;
            transition: $custom-transition-3;
            transform-origin: center center;
          }

          &[aria-expanded="true"] {
            &:after {
              transform: rotate(180deg);
            }
          }

          &:hover {
            .icon {
              background-image: url("../img/icons/Phone-r.svg");
              animation: ringring 0.3s linear infinite;
              -webkit-animation: ringring 0.3s linear infinite;
            }

            .text {
              &-link {
                color: $m-red;
              }

              &-schedule {
                color: $m-black;
              }
            }

            &:after {
              background-image: url("../img/icons/arrow_down-r.svg");
            }
          }
        }

        .dropdown-menu {
          width: 100%;
          background-color: $m-white;
          border: none;
          border-radius: 0;
          padding: 1rem;

          .navbar-contact__btn {
            display: flex;
            align-items: center;
            width: auto;
            max-width: 100%;
            padding: 0;
            background-color: transparent;
            border: none;
            text-align: left;

            &:focus {
              outline: none;
            }

            .icon {
              display: inline-block;
              width: 1.5rem;
              height: 1.5rem;
              margin-right: 0.625rem;
              background: transparent url("../img/icons/Phone-Arrow-r.svg") no-repeat center center;
              background-size: contain;
              vertical-align: middle;
            }

            .text {
              display: inline-block;
              vertical-align: middle;

              * {
                transition: $custom-transition-3;
              }

              &-title,
              &-subtitle {
                display: block;
                line-height: 1.125rem;
                letter-spacing: 0.1em;
                text-transform: uppercase;
              }

              &-title {
                font-size: 0.8125rem;
                font-weight: 500;
                color: $m-black;
                border-bottom: 1px dashed $m-black;
              }

              &-subtitle {
                font-size: 0.625rem;
                color: $m-red;
              }
            }

            &:hover {
              .icon {
                animation: ringring 0.3s linear infinite;
                -webkit-animation: ringring 0.3s linear infinite;
              }
              .text {
                &-title {
                  color: $m-red;
                }

                &-subtitle {
                  color: $m-black;
                }
              }
            }
          }
        }
      }
    }

    &-services {
      margin: 0 1rem;

      &__btn {
        display: inline-flex;
        align-items: center;
        width: auto;
        padding: 0;
        background-color: transparent;
        border: none;
        border-radius: 0;
        vertical-align: middle;

        &:focus {
          outline: none;
        }

        * {
          transition: $custom-transition-3;
        }

        .icon {
          display: inline-block;
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 0.625rem;
          background: transparent url("../img/icons/menu.svg") no-repeat center center;
          background-size: contain;
          vertical-align: middle;
          transform-origin: center center;
        }

        .text {
          display: inline-block;
          vertical-align: middle;
          font-size: 0.875rem;
          color: $m-black;
          line-height: 1.21;
        }

        &:hover {
          .icon {
            background-image: url("../img/icons/menu-r.svg");
            transform: scale(0.8);
          }

          .text {
            color: $m-red;
            transform: scale(1.2);
          }
        }
      }
    }

    &-user {
      margin-right: 1rem;

      &__link {
        display: inline-flex;
        align-items: center;
        width: auto;
        vertical-align: middle;

        * {
          transition: $custom-transition-3;
        }

        .icon {
          display: inline-block;
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 0.625rem;
          background: transparent url("../img/icons/login.svg") no-repeat center center;
          background-size: contain;
          vertical-align: middle;
          transform-origin: center center;
        }

        .text {
          display: inline-block;
          vertical-align: middle;
          font-size: 0.875rem;
          color: $m-black;
          line-height: 1.21;
        }

        &:hover {
          text-decoration: none;
          color: $m-black;

          .icon {
            background-image: url("../img/icons/login-r.svg");
            transform: scale(0.8);
          }

          .text {
            color: $m-red;
            transform: scale(1.2);
          }
        }
      }
    }

    &-lang {
      display: inline-flex;
      align-items: center;
      width: auto;
      vertical-align: middle;
      border-left: 1px solid $m-grey-dark;

      .dropdown {
        .dropdown-toggle {
          width: auto;
          max-width: 100%;
          padding: 0;
          background-color: transparent;
          border: none;
          font-size: 0.875rem;

          &:focus {
            outline: none;
          }

          * {
            transition: $custom-transition-3;
          }

          .text {
            display: inline-block;
            vertical-align: middle;
            padding-left: 1rem;
            text-transform: uppercase;
          }

          &:after {
            width: 1.5rem;
            height: 1.5rem;
            margin-left: 0;
            border: none;
            background: transparent url("../img/icons/arrow_down.svg") no-repeat center center;
            background-size: contain;
            vertical-align: middle;
            transition: $custom-transition-3;
            transform-origin: center center;
          }

          &[aria-expanded="true"] {
            &:after {
              transform: rotate(180deg);
            }
          }

          &:hover {
            .text {
              color: $m-red;
            }

            &:after {
              background-image: url("../img/icons/arrow_down-r.svg");
            }
          }
        }

        .dropdown-menu {
          background-color: $m-white;
          border: none;
          border-radius: 0;
          padding: 0.875rem 0;
          min-width: initial;
          max-height: 10rem;
          overflow-y: auto;

          .dropdown-item {
            padding: 0 1rem;
            font-size: 0.875rem;
            text-transform: uppercase;

            &.active {
              display: none;
            }
          }
        }
      }
    }
  }

  &.scrolled {
    padding: 0.625rem 0;
    background-color: $m-white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);

    .navbar {
      &-logo {
        img {
          max-width: 5rem;
        }

        &__img-full {
          display: none;
        }

        &__img-short {
          display: block;
        }
      }

      &-search {
        display: block;
      }
    }
  }
}

.dropdown-menu {
  &::-webkit-scrollbar {
    width: 8px;
    background-color: $m-grey-lighter;
    -webkit-border-radius: 0;
  }

  &::-webkit-scrollbar:hover {
    background-color: $m-grey-light;
  }

  &::-webkit-scrollbar-thumb:vertical {
    background: $m-grey-dark;
    -webkit-border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:vertical:active {
    background: $m-grey-dark;
    -webkit-border-radius: 5px;
  }

  &::-o-scrollbar {
    width: 8px;
  }

  &::-o-scrollbar-thumb {
    background: $m-grey-dark;
    width: 8px;
    border-radius: 5px;
  }
}

@keyframes ringring {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes ringring {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-15deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}