.hero {
  &-wrapper {
    background-color: $m-grey-light;
    background-repeat: no-repeat;
    background-position: right -10px;
    background-size: contain;
    position: relative;
  }

  &-overlayer {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &-inner {
    min-height: rem-calc(600);
    padding: 10rem 0 3.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &.ver-category {
      min-height: rem-calc(570);
      padding-bottom: $spacing-gutter;
    }

    &__text {
      margin-bottom: 1.25rem;
      font-size: 1.125rem;
      line-height: 1.55;

      p {
        margin-bottom: 0;
        font-size: inherit;
        line-height: inherit;
      }

      @include media-breakpoint-up(lg) {
        max-width: rem-calc(730);
      }
    }

    &__title {
      margin-bottom: 1.25rem;
    }

    &__search {
      width: 100%;
      margin-top: auto;
      margin-bottom: 2rem;

      .form-inline {
        flex-flow: row nowrap;
        max-width: 100%;

        .form-control {
          width: 100%;
          height: auto;
          min-height: 3.125rem;
          padding: 1rem 0.875rem;
          background-color: $m-white;
          font-size: 1rem;
          line-height: 1.125;
          color: $m-black;
          border: none;
          border-radius: 0;
          transition: $custom-transition-3;

          &:hover,
          &:focus {
            box-shadow: $m-shadow-grey;
          }
        }

        button {
          &:hover {
            box-shadow: $m-shadow-grey;
          }
        }
      }

      &-price {
        margin-right: 4.375rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        line-height: 1.42;

        & > span {
          display: inline-block;
          vertical-align: baseline;
        }

        .price-num {
          display: inline-block;
          padding: 0 $spacing-unit;
          font-size: 4rem;
          font-weight: 700;
          line-height: 1;
        }
      }

      @include media-breakpoint-down(md) {
        &-price {
          margin-right: 2.5rem;
        }
      }

      @include media-breakpoint-down(sm) {
        .form-inline {
          button {
            min-width: initial;
            flex: 0 0 auto;
          }
        }

        &-price {
          width: 100%;
          margin-right: 0;
          margin-bottom: 2.25rem;

          .price-num {
            font-size: 3rem;
            padding: 0 0.625rem;
          }
        }
      }

      @include media-breakpoint-up(md) {
        margin-bottom: 1.25rem;

        .form-inline {
          .form-control {
            max-width: rem-calc(515);
            margin-right: $spacing-unit;
            padding: 1.3125rem 1.5625rem;
          }

          button {
            padding-top: 1.1875rem;
            padding-bottom: 1.1875rem;
          }
        }
      }

      @include media-breakpoint-up(lg) {
        margin-bottom: 2.8125rem;

        .form-inline {
          .form-control {
            max-width: rem-calc(555);
          }
        }
      }
    }

    &__tags {
      max-width: 100%;
      overflow-x: auto;

      &-line {
        display: flex;
        flex-flow: row wrap;
        width: auto;
      }
      .m-badge {
        flex: 0 0 auto;
        margin-right: $spacing-unit;
        margin-bottom: 0.625rem;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &-inner {
      min-height: rem-calc(650);
      padding: 5rem 0 1.25rem;

      &__tags {
        &-line {
          flex-wrap: nowrap;
        }

        .m-badge {
          margin-right: 0.625rem;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &-wrapper {
      background-position: 100% 100%;
    }

    &-inner {
      min-height: rem-calc(470);
      padding: 5rem 0 0.625rem;

      &__title {
        font-size: 1.8125rem;
        letter-spacing: 1px;
      }

      &.ver-category,
      &.ver-subcategory {
        min-height: rem-calc(470);
        .hero-inner__search {
          //margin-bottom: 0.25rem;

          .form-inline {
            button {
              width: 100%;
            }

            .form-control + button {
              width: auto;
            }
          }
        }
      }

      &.ver-single {
        min-height: rem-calc(470);
        .hero-inner__search {
          .form-inline {
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}

.promotions {
  .hero {
    &-wrapper {
      background-color: $m-red;
      color: $m-white;
    }
  }
}
