#locModal {
  .modal-dialog {
    max-width: 100%;
    margin: $header-padding-scrolled auto;

    @include media-breakpoint-up(sm) {
      max-width: 33.75rem;
    }

    @include media-breakpoint-up(md) {
      max-width: 45rem;
    }

    @include media-breakpoint-up(lg) {
      max-width: 60rem;
    }

    @include media-breakpoint-up(xl) {
      max-width: 71.25rem;
    }
  }

  .dropdown {
    padding-right: 1.5rem;

    .dropdown-toggle {
      width: auto;
      max-width: 100%;
      padding: 0;
      background-color: transparent;
      border: none;
      font-size: 0.875rem;

      .icon {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.75rem;
        background: transparent url("../img/icons/Location.svg") no-repeat center center;
        background-size: contain;
        vertical-align: middle;
        transition: $custom-transition-3;
      }

      .text {
        display: inline-block;
        border-bottom: 1px dashed $m-black;
        vertical-align: middle;
      }

      &:after {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 1.25rem;
        border: none;
        background: transparent url("../img/icons/arrow_down.svg") no-repeat center center;
        background-size: contain;
        vertical-align: middle;
        transition: $custom-transition-3;
        transform-origin: center center;
      }

      &[aria-expanded="true"] {
        &:after {
          transform: rotate(180deg);
        }
      }

      &:focus {
        outline: none;

        .icon {
          background-image: url("../img/icons/Location-b.svg");
        }
      }
    }

    .dropdown-menu {
      width: 100%;
      max-height: 10rem;
      padding: 0.875rem 0;
      background-color: $m-white;
      border: none;
      border-radius: 0;
      overflow-y: auto;
      position: static !important;
      transform: translate3d(0, 0, 0) !important;

      .dropdown-item {
        padding: 0 0.75rem;
        margin-bottom: 1rem;
        font-size: 0.9375rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .region-search {
    input[type="text"] {
      border-color: transparent;
    }
  }
}

#servicesModal {
  .modal-dialog {
    max-width: 100%;
    margin: $header-padding-scrolled auto;

    .modal-body {
      padding: 2rem $spacing-unit;
    }

    @include media-breakpoint-up(sm) {
      max-width: 33.75rem;
    }

    @include media-breakpoint-up(md) {
      max-width: 45rem;
    }

    @include media-breakpoint-up(lg) {
      max-width: 60rem;
    }

    @include media-breakpoint-up(xl) {
      max-width: 71.25rem;
    }
  }

  button.close {
    top: 2.1875rem;
    right: 2.1875rem;
    .icon {
      display: inline-block;
      width: 1.875rem;
      height: 1.875rem;
    }
  }

  @include media-breakpoint-down(sm) {
    .modal-dialog {
      .modal-body {
        padding: 1.25rem 0.3125rem;
      }
    }

    button.close {
      top: 1.25rem;
      right: 1.25rem;
    }
  }
}

.modal-serv {
  &__heading {
    margin-bottom: $spacing-gutter;
    font-size: 1.3125rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.32;
  }

  &__tabs {
    margin-bottom: 0.625rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid $m-grey-dark;

    .nav-tabs {
      margin-left: -$spacing-gutter;
      background-color: $m-grey-lighter;
      border-bottom: none;

      .nav-link {
        width: 100%;
        margin: 0;
        padding: 1.25rem 1rem 1.125rem $spacing-gutter;
        border: none;
        border-radius: 0;
        font-weight: 700;
        line-height: 1.25;
        transition: $custom-transition-3;

        &.active {
          border: none;
          border-radius: 0;
        }

        &.active,
        &:hover {
          background-color: $m-grey-light;
          color: $m-black;
        }
      }
    }
  }

  &__contact {
    & > p,
    & > .text {
      margin-bottom: 1.75rem;
      font-size: 0.875rem;
      text-align: left;
      line-height: 1.57;
    }

    .contact-link {
      margin-bottom: 1.5rem;

      .text {
        * {
          transition: $custom-transition-3;
        }

        &-link {
          display: block;
          margin-bottom: 0.25rem;
          font-family: "Rubik-b", sans-serif;
          font-size: 1.375rem;
          font-weight: 700;
          color: $m-black;
          line-height: 1.1;
          letter-spacing: 0.1em;
          text-transform: uppercase;

          &:hover {
            text-decoration: none;
          }
        }

        &-schedule {
          display: block;
          font-size: 0.75rem;
          color: $m-red;
          line-height: 1.2;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
      }

      &:hover {
        .text {
          &-link {
            color: $m-red;
          }

          &-schedule {
            color: $m-black;
          }
        }
      }
    }

    .m-btn {
      width: 100%;
    }
  }

  &__tab-content {
    margin-top: rem-calc(57);
  }

  &__list {
    &--common {
      width: 100%;

      & > li {
        width: 100%;
        padding: 0.875rem $spacing-gutter 0.8125rem;
        border-bottom: 1px solid $m-grey;
        font-size: 1.25rem;
        line-height: 1.25;
        position: relative;

        &:first-child {
          border-top: 1px solid $m-grey;
        }

        .text {
          display: inline-block;
          vertical-align: middle;
          padding-right: 0.375rem;
          cursor: pointer;
          transition: $custom-transition-3;

          &:hover {
            color: $m-red;
          }
        }

        a {
          color: inherit;

          &:hover {
            text-decoration: none;
          }
        }

        &:after {
          display: inline-block;
          vertical-align: middle;
          width: 0.4375rem;
          height: 0.4375rem;
          content: "";
          border-right: 2px solid $m-red;
          border-bottom: 2px solid $m-red;
          transform: rotate(-45deg);
          transform-origin: center center;
        }

        &.has-children {
          .text {
            padding-right: 1.25rem;
          }

          &:after {
            width: 0.875rem;
            height: 0.875rem;
            border-right-color: $m-black;
            border-bottom-color: $m-black;
            position: absolute;
            top: 1.125rem;
            right: $spacing-gutter;
            transition: $custom-transition-3;
          }

          .sublist {
            display: none;
            flex-flow: row wrap;
            width: 100%;
            padding-top: 2.875rem;
            padding-left: $spacing-gutter;

            li {
              display: inline-block;
              flex: 0 0 25%;
              max-width: 25%;
              padding-right: $spacing-gutter;
              font-size: 1rem;
              line-height: 1.25;

              &:not(:last-child) {
                margin-bottom: $spacing-gutter;
              }

              a {
                display: inline-block;
                border-bottom: 1px dashed transparent;
                transition: $custom-transition-3;

                &:hover {
                  color: $m-red;
                  border-bottom-color: $m-red;
                }
              }
            }
          }

          &.opened {
            .sublist {
              display: flex;
            }

            &:after {
              transform: rotate(135deg);
            }
          }
        }
      }
    }
  }

  &__back-btn {
    display: inline-block;
    padding: 0.625rem 1.25rem;
    background-color: transparent;
    border: none;
    font-size: 0;
    white-space: nowrap;

    img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.5625rem;
    }

    span {
      display: inline-block;
      vertical-align: middle;
      font-size: 0.9375rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      line-height: 1;
    }

    &:focus {
      outline: none;
    }
  }

  @include media-breakpoint-down(md) {
    &__list {
      &--common {
        & > li {
          &.has-children {
            .sublist {
              li {
                flex: 0 0 50%;
                max-width: 50%;
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .modal-body {
      & > .container > .row {
        flex-wrap: nowrap;
        overflow-x: hidden;

        .modal-serv--col1,
        .modal-serv--col2 {
          transition: $custom-transition-3;
        }

        .modal-serv--col2 {
          .modal-serv__heading {
            margin-top: 0;
          }

          .modal-serv__contact {
            margin-top: rem-calc(62);
            padding-top: 0.625rem;
            border-top: 1px solid $m-grey-dark;
          }
        }

        &.slided {
          .modal-serv--col1,
          .modal-serv--col2 {
            transform: translateX(-100%);
          }
        }
      }
    }
    &__heading {
      margin-top: 5rem;
    }

    &__tabs {
      .nav-tabs {
        margin-left: -1.25rem;
      }
    }

    &__tab-content {
      margin-top: 2.8125rem;
    }

    &__list {
      &--common {
        width: initial;
        margin-right: -$spacing-unit;
        margin-left: -$spacing-unit;

        & > li {
          &.has-children {
            .sublist {
              li {
                flex: 0 0 100%;
                max-width: 100%;
              }
            }

            &:after {
              display: inline-block;
            }
          }

          &:after {
            display: none;
          }
        }
      }
    }
  }
}

#contactModal {
  .modal-dialog {
    max-width: 100%;

    .modal-body {
      padding: 2rem 1rem;
    }

    button.close {
      top: 1.25rem;
      right: 1.25rem;
    }

    @include media-breakpoint-up(lg) {
      .modal-body {
        padding: 5.625rem 4.6875rem 3.125rem;
      }

      button.close {
        top: 2rem;
        right: 2rem;
      }
    }

    @include media-breakpoint-up(md) {
      max-width: 43.75rem;
    }
  }
}

.modal-order {
  &__heading {
    margin-bottom: $spacing-gutter*3;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  .modal-order-form {
    .row {
      align-items: flex-end;
    }
    .form-group {
      margin-bottom: $spacing-unit*3;
      position: relative;

      &.has-error {
        input:not([type="submit"]),
        input:not([type="checkbox"]),
        input:not([type="radio"]) {
          border-color: $m-red;

          &:hover,
          &:focus {
            border-color: $m-red;
          }
        }

        .error {
          display: block;
        }

        &:after {
          display: inline-block;
          width: 1rem;
          height: 1rem;
          content: "";
          background: transparent url("../img/icons/Error-red.svg") no-repeat center center;
          background-size: contain;
          position: absolute;
          right: 0.75rem;
          bottom: 1.0625rem;
        }
      }
    }

    .form-check {
      margin: 0;
      padding: 0;

      label {
        display: block;
        min-height: 1.5rem;
        padding-left: 2.5rem;
        font-size: 0.875rem;
        line-height: 1.714;
        position: relative;

        &:before,
        &:after {
          display: inline-block;
          content: "";
          transition: $custom-transition-3;
          position: absolute;
        }

        &:before {
          width: 1.5rem;
          height: 1.5rem;
          border: 1px solid $m-grey;
          background-color: transparent;
          top: 0;
          left: 0;
        }

        &:after {
          width: 1rem;
          height: 1rem;
          background: transparent url("../img/icons/Check-red.svg") no-repeat center center;
          background-size: contain;
          top: 0.25rem;
          left: 0.25rem;
          opacity: 0;
        }
      }

      input[type="checkbox"] {
        &:checked {
          & + label {
            &:before {
              background-color: $m-white;
            }

            &:after {
              opacity: 1;
            }
          }
        }

        &:hover,
        &:focus {
          & + label {
            &:before {
              box-shadow: $m-small-shadow-grey;
            }
          }
        }
      }
    }

    label,
    .error {
      display: block;
      font-size: 0.75rem;
      line-height: 1.67;
    }

    input:not([type="submit"]),
    input:not([type="checkbox"]),
    input:not([type="radio"]) {
      width: 100%;
      min-height: rem-calc(50);
      padding: 0.875rem 2.5rem 0.875rem 1rem;
      border: 1px solid $m-grey-light;
      border-radius: 0;
      background-color: $m-white;
      font-size: 0.9375rem;
      color: $m-black;
      line-height: 1.33;
      transition: $custom-transition-3;

      &:hover,
      &:focus {
        border-color: $m-grey-dark;
        box-shadow: none;
        outline: none;

        & ~ .icon {
          opacity: 1;
        }
      }
    }

    .region-search {
      input[type="text"] {
        padding: 0.875rem 3.125rem 0.875rem 2.5rem;
      }
    }

    .m-date,
    .m-time {
      &:before {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        content: "";
        background: transparent no-repeat center center;
        background-size: contain;
        position: absolute;
        right: 0.75rem;
        bottom: 0.8125rem;
      }
    }

    .m-date:before {
      background-image: url("../img/icons/Calendar2.svg");
    }

    .m-time:before {
      background-image: url("../img/icons/clock.svg");
      background-size: 1rem;
    }

    .error {
      display: none;
      color: $m-red;
      position: absolute;
      left: 0;
      top: 100%;
    }

    .m-btn {
      margin-top: 3.625rem;
    }
  }


  @include media-breakpoint-down(sm) {
    &__heading {
      margin-bottom: $spacing-gutter;
    }

    .modal-order-form {
      .form-group {
        margin-bottom: 1.25rem;
      }
    }

    .m-btn {
      margin-top: $spacing-gutter;
    }
  }
}
