.main-statistics,
.single-statistics {
  background-color: $m-white;

  &__card {
    max-width: 77%;
    margin: 0 auto;

    &-img {
      padding-top: 0.625rem;

      img {
        width: 100%;
        height: auto;
      }
    }

    &-text {
      .number,
      .desc {
        display: block;
        color: $m-black;
        word-break: break-all;
      }

      .number {
        margin-bottom: 0.625rem;
        font-family: "Rubik-b", sans-serif;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1;
      }

      .desc {
        font-size: 1.125rem;
        line-height: 1.17;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &__card {
      max-width: 100%;

      &-text {
        .number {
          margin-bottom: 0.5rem;
          font-size: 2.25rem;
        }

        .desc {
          font-size: 0.75rem;
        }
      }
    }
  }
}

.single-statistics {
  &__card {
    max-width: 90%;

    &-img {
      img {
        filter: grayscale(100%);
        opacity: 0.6;
      }
    }

    &-text {
      .desc {
        font-size: 1rem;
        line-height: 1.1875;
        word-break: normal;
      }

      .intro {
        display: inline-block;
        margin-bottom: 0.25rem;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 1.17;
      }
    }
  }

  @include media-breakpoint-down(md) {
    &__card {
      max-width: 100%;

      &-text {
        .desc {
          font-size: 0.75rem;
          line-height: 1.17;
        }

        .intro {
          font-size: 0.8125rem;
          line-height: 1.15;
        }
      }
    }
  }
}
