<% var data = {
title: "Main"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<%= _.template(require('./../includes/main-nav.html'))(data) %>

<%= _.template(require('./../includes/hero.html'))(data) %>

<main id="main">
    <%= _.template(require('./../includes/statistics.html'))(data) %>
    <%= _.template(require('./../includes/services.html'))(data) %>
    <%= _.template(require('./../includes/block-order.html'))(data) %>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>