<% var data = {
title: "Single page 3"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<%= _.template(require('./../includes/main-nav.html'))(data) %>

<%= _.template(require('./../includes/hero-single3.html'))(data) %>
<%= _.template(require('./../includes/breadcrumbs-single3.html'))(data) %>

<main id="main">
    <%= _.template(require('./../includes/block-article-single3.html'))(data) %>
</main>
<%= _.template(require('./../includes/footer-content.html'))(data) %>
<%= _.template(require('./../includes/block-modals.html'))(data) %>
<%= _.template(require('./../includes/footer.html'))(data) %>