body {
  font-family: "Rubik", sans-serif;
  font-size: $global-font-size;
  color: $m-black;
}

h1,
.title-headline {
  font-family: "Gilroy", sans-serif;
  font-size: 4rem;
  line-height: 1.23;
  letter-spacing: 3px;
}

h2,
.primary-headline {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 2px;
}

h3,
.secondary-headline {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 2px;
}

h4,
.heading-4 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 2px;
}

p,
.content-text {
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
  line-height: 1.4;
  text-align: justify;
}

.m-text-red {
  color: $m-red;
}

input {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $m-grey-dark;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $m-grey-dark;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $m-grey-dark;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $m-grey-dark;
  }
}


section {
  .primary-headline {
    font-family: "Rubik-b", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: $spacing-unit;
  }

  .subtitle {
    margin-bottom: $spacing-unit*3;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  @include media-breakpoint-down(sm) {
    .primary-headline {
      font-size: 1.375rem;
    }
  }
}

/* Slider */

.slick-list {
  .slick-loading & {
    background: #fff url("../img/ajax-loader.gif") no-repeat center center;
  }
}
