/* Colors */
$m-white: #ffffff !default;
$m-black: #000000 !default;
$m-grey: #e2e2e1 !default;
$m-grey-light: #f2f2f2 !default;
$m-grey-lighter: #fafafa !default;
$m-grey-dark: #bdbdbd !default;
$m-red: #eb0028 !default;
$m-yellow: #fec705;
$m-green: #17b243;

/* Dimensions */
$global-font-size: 100% !default;
$spacing-unit: 0.9375rem;
$spacing-gutter: 1.875rem;

/* Shadows */
$m-shadow-grey: 0px 4px 16px rgba(0, 0, 0, 0.15);
$m-shadow-cold: 0px 4px 16px rgba(0, 66, 127, 0.15);

/* Transitions */
$custom-transition-3: all 0.3s ease;
$custom-transition-5: all 0.5s ease;
