$very-light-pink: #fff4f4;
$very-light-pink-two: #cccccc;
$dark-grey: #2d2d2e;
$brown-grey: #888888;
$white: #ffffff;
$faded-blue: #4aa7ca;
$sap-green: #4e9313;
$pale-blue: #dce8ed;
$faded-blue-two: #54a6c6;
$cool-blue: #419fc1;
$ugly-blue: #2e6b81;

$global-font-size: 100% !default;
$spacing-unit: 0.9375rem;
$spacing-gutter: 1.875rem;

$custom-transition-3: all 0.3s ease;