/* Colors */
$m-white: #ffffff !default;
$m-black: #000000 !default;
$m-black-2: #1a051d;
$m-grey: #e2e2e1 !default;
$m-grey-light: #f2f2f2 !default;
$m-grey-lighter: #fafafa !default;
$m-grey-dark: #bdbdbd !default;
$m-red: #eb0028 !default;
$m-red-2: #ff0000;
$m-yellow: #fec705 !default;
$m-green: #17b243 !default;

/* Dimensions */
$global-font-size: 100% !default;
$spacing-unit: 0.9375rem;
$spacing-gutter: 1.875rem;
$header-padding: 1.5rem;
$header-padding-scrolled: 0.625rem;
$header-padding-mobile: 0.875rem;

/* Shadows */
$m-shadow-grey: 0 4px 16px rgba(0, 0, 0, 0.15);
$m-small-shadow-grey: 0 0 10px rgba(0, 0, 0, 0.1);
$m-shadow-cold: 0 4px 16px rgba(0, 66, 127, 0.15);

/* Transitions */
$custom-transition-3: all 0.3s ease;
$custom-transition-5: all 0.5s ease;
